@charset "UTF-8";

@media screen and (min-width: 600px) {
    .menu {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        background-color: transparent;
    }
    .ri-menu-line {
        display: none;
    }
    header {
        background-size: cover;
        background-attachment: fixed;
    }
    section {
        width: 700px;
    }
}