@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 992px) {
    #menu {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        background-color: transparent;
        position: relative;
        width: 100vw;
        box-shadow: none;
        height: 25px;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.61);
    }
    a {
        color: white;
    }
    .ri-menu-line {
        display: none;
    }
    header {
        background-size: contain;
        background-attachment: fixed;
 
    }
    #att {
        font-size: 1em;
        padding: 15px 10px 10px 10px;
        color: var(--roxo);
    }
    section {
        padding: 10px;
        width: 500px;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    #apresentacao {
        margin: 17px;
    }
    nav {
        padding: 5px;
    }
    .menu-mobile {
        padding: 15px 10px;
        color: white;
    
    }

}
@media screen and (min-width: 992px) {
    #menu {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        background-color: transparent;
        position: relative;
        width: 100vw;
        box-shadow: none;
        height: 25px;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.61);

    }
    a {
        color: white;
    }
    .ri-menu-line {
        display: none;
    }
    header {
        background-size: contain;
        background-attachment: fixed;
        height: 450px;
    }
    section {
        width: 700px;
        height: 300px;
        text-align: center;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    #apresentacao {
        margin: 50px;
    }
    nav {
        padding: 5px;
    }
    .menu-mobile {
        padding: 15px 10px;
        color: white;
    
    }
}