@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
:root {
    --roxo: #5503A6;
    --rosa-destaque: #BA2189;
    --rosa-claro: #F199F2;
    --lilas: #976DF2;
}
* {
    margin: 0px;
    padding: 0px;
}
body, html {
    background-image: linear-gradient(to right top, var(--rosa-claro)12%, var(--rosa-destaque), var(--roxo)75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
h1, h2 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}
#ola {
    font-size: 0.8em;
    padding: 5px;
}
#nome {
    color: var(--roxo);
    padding: 5px;
}
#att {
    font-size: 1em;
    padding: 30px 10px 10px 10px;
    color: var(--roxo);
}
p {
    padding: 10PX;
}
header {
    background-image: url('../imagens/fundoheader.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 400px;
}
li {
    list-style-type: none;
    padding: 5px 10px;
}
nav {
    display: flex;
    padding-top: 20px;
    border: rgba(128, 128, 128, 0.411);
    padding: 25px;

}
#menu {
    position: absolute;
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100px;
    box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    padding: 20px;
    height: 332px;
    font-family: 'Montserrat';
    font-size: 0.85em;
    text-transform: uppercase;
}
.ri-menu-line {
    font-size: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    padding: 15px;
}
section {
    background-color: rgba(255, 255, 255, 0.534);
    margin: auto;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 8px 6px 19px rgba(0, 0, 0, 0.096);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.85em;
}
.lig {
    display: inline-block;

}
.ling {
    margin: 10px 5px;
    display: inline-block;
    background-image: linear-gradient(to right top, var(--rosa-destaque), var(--roxo));
    color: white;
    border-radius: 3px;
}
main {
    color: white;
}
.menu-mobile {
    padding: 15px 10px;
    color: var(--roxo);

}
