@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
:root {
    --roxo: #5503A6;
    --rosa-destaque: #BA2189;
    --rosa-claro: #F199F2;
    --lilas: #976DF2;
}
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
body, html {
    background: url('../imagens/40\ Sem\ Título_20231025210313.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
h1, h2 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}
#ola {
    font-size: 0.8em;
    padding: 5px;
}
#nome {
    color: var(--roxo);
    padding: 5px;
}
#att {
    font-size: 1em;
    padding: 30px 10px 10px 10px;
    color: var(--roxo);
}
p {
    padding: 10PX;
}
header {
    background-image: url('../imagens/fundoheader.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 400px;
}
li {
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 5px;
}
nav {
    display: flex;
    padding-top: 20px;
    border: rgba(128, 128, 128, 0.411);
    padding: 25px;

}
.nav-list {
    position: absolute;
    display: flex;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    padding: 30px;
    height: 100vh;
    font-family: 'Montserrat';
    font-size: 0.85em;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0px;
    gap: 0px;
    clip-path: circle(100px at -10% -15%);
    transition: 1s ease-out;

}
.menu.active .nav-list {
    clip-path: circle(1500px at -10% -15%);
    pointer-events: all;
}
.hamburger {
    border: none;
    background: none;
    border-top: 3px solid var(--roxo);
    cursor: pointer;
    position: relative;
    
    
}
.hamburger::before, .hamburger::after {
    content: "  ";
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background: var(--roxo);


}
section {
    background-color: rgba(255, 255, 255, 0.534);
    margin: auto;
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 8px 6px 19px rgba(0, 0, 0, 0.096);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.85em;

}
.lig {
    display: inline-block;

}
.ling {
    margin: 10px 5px;
    display: inline-block;
    background-image: linear-gradient(to right top, var(--rosa-destaque), var(--roxo));
    color: white;
    border-radius: 3px;
}
main {
    background-color: white;
    height: 700px;
}
.menu-mobile {
    padding: 15px 10px;
    color: var(--roxo);

}
.menu-mobile:hover {
    text-decoration: underline;
}
foter {
    background-color: transparent;
}
.hablidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 40px;
    justify-content: center;
}
.img1 {
    width: 300px;
    height: 300px;
}
article {
    width: 450px;
    height: 300px;
}